name: PR Validation
on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    tags: ['v**']
    branches: [master, dev]
jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    strategy:
      matrix:
        node-version: [18.x]
    services:
      mysql:
        # We are using this image because the official one didn't
        #  support settings default-authentication-plugin using env var
        # About the --default-authentication-plugin: https://stackoverflow.com/questions/50093144/mysql-8-0-client-does-not-support-authentication-protocol-requested-by-server/56509065#56509065
        image: centos/mysql-80-centos7
        env:
          MYSQL_DATABASE: wallet_service_ci
          MYSQL_USER: wallet_service_user
          MYSQL_PASSWORD: password
          MYSQL_DEFAULT_AUTHENTICATION_PLUGIN: mysql_native_password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3
    steps:
      - name: Checkout to branch
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm i --also=dev
      - name: Initialize DB
        run: |
          make migrate
        env:
          NODE_ENV: test
          CI_DB_NAME: wallet_service_ci
          CI_DB_USERNAME: wallet_service_user
          CI_DB_PASSWORD: password
          CI_DB_HOST: 127.0.0.1
          CI_DB_PORT: 3306
      - name: Run Tests
        run: |
          npm run test
        env:
          STAGE: local
          NODE_ENV: test
          DB_ENDPOINT: 127.0.0.1
          DB_PORT: 3306
          DB_NAME: wallet_service_ci
          DB_USER: wallet_service_user
          DB_PASS: password
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
